@import 'https://fonts.googleapis.com/css?family=Slabo+27px';

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Slabo 27px', serif;
}

.container {
	width: 100%;
	height: 100%;
}

.calc-container {
	border: 2px solid black;
	width: 70%;
	height: 62%;
	margin: 20px auto;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.calc-container:hover {
	height: 65%;
	width: 75%;
	box-shadow: 0 0 20px 1px black;
}

.text-center {
	text-align: center;
}

.input-field {
	margin: 20px 0;
}

.input-label {
	display: inline-block;
	width: 20%;
}

.form-input-nice {
	display: inline-block;
	width: 60%;
	border: 1px solid #cccccc;
	border-radius: 15px;
	cursor: auto;
	padding: 5px 14px;
	height: 20px;
}

input[type="text"] {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

input[type="text"]:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-moz-transition: 0 0 5px rgba(81, 203, 238, 1);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

input[type="text"]:hover {
	border: 1px solid rgba(81, 203, 238, 1);
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-green {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.btn-green:hover {
    background-color: #4CAF50;
    color: white;
}

.btn-blue {
    background-color: white;
    color: black;
    border: 2px solid blue;
}

.btn-blue:hover {
    background-color: blue;
    color: white;
}

.exp-sum {
	color: red;
}

#rem-total {
	color: #006400;
}

#exp-calc {
	height: 80%;
}

#exp-calc:hover {
	height: 82%;
}

#calc-title {
	cursor: default;
}